@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title</h2>*@
<h2>@ViewBag.Title @ViewBag.Message</h2>

<p>
    This website was developed as a final project for C# course.
    Basically this is an online store for supplements.
    Here you can browse the products by Brands or categories, and also find products on sale.
    Online payment option is not available, hence the customer can leave his contact information and the sales person will contact him to proceed with the payment on the cart that was selected.
</p>
