@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
<h2>@ViewBag.Message</h2>

<address>
    Netanya Academic College<br />
    Netanya, Hauniversita 1<br />
    <abbr title="Phone">Phone:</abbr>
    0544444444
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Sheydeni@netanya.ac.il">Sheydeni@netanya.ac.il</a><br />
    <strong>Marketing:</strong> <a href="mailto:Shabnata@netanya.ac.il">Shabnata@netanya.ac.il</a>
</address>